{
	"presets": [
		"@babel/preset-env"
	],
  "plugins": [
    ["module-resolver", {
      "root": ["./api"],
      "alias": {
        "api": "./api",
				"contexts": "./api/contexts",
				"controllers": "./api/controllers",
				"helpers": "./api/helpers",
				"initializers": "./api/initializers",
				"middlewares": "./api/middlewares",
				"models": "./api/models",
				"modules": "./api/modules",
				"serializers": "./api/serializers"
      }
    }]
  ]
}
