{
	"presets": [
		"@babel/preset-env"
	],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
				"contexts": "./src/contexts",
				"controllers": "./src/controllers",
				"helpers": "./src/helpers",
				"initializers": "./src/initializers",
				"middlewares": "./src/middlewares",
				"models": "./src/models",
				"modules": "./src/modules",
				"serializers": "./src/serializers"
      }
    }]
  ]
}
